.body-page {
    margin: 0;
    padding: 0;
    background-color: #393e46;
    color: #eeeeee;
}

.header {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner {
    margin: 0;
    background-color: rgba(104, 121, 128, 0.4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-logo {
    margin-left: 50px;
    color: #03256c;
    font-size: 40px;
    font-family: 'Staatliches', cursive;
}

.my-name {
    color: #eba83a;
}

.menu {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.navigation {
    text-decoration: none;
    font-size: 20px;
    color: #eeeeee;
}

.overlay {
    height: 100%;
    background-color: rgba(104, 121, 128, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-title {
    margin: 0;
    font-size: 90px;
    color: #03256c;
}

.web-color {
    color: #eba83a;
}