.portfolio {
    margin: 0 100px;
    position: relative;
}

.img-container {
    display: flex;
    justify-content: center;
}

.portfolio-img {
    width: 88%;
    height: 350px;
    border-radius: 20px;
}

.portfolio-title {
    color: #e6e3e3;
    font-size: 30px;
}

.portfolio-description {
    color: #e6e3e3;
    text-align: justify;
    font-size: 20px;
}

.portfolio-card-bg {
    background: linear-gradient(0.10turn, #393e46, #222831, #000000);
}