.portfolio-img {
    width: 100%;
    height: 260px;
    border-radius: 20px;
}

.portfolio-title {
    color: rgb(230, 227, 227);
}

.portfolio-description {
    color: rgb(194, 194, 194);
    text-align: justify;
}

.portfolio-card-bg {
    background: linear-gradient(0.10turn, #393e46, #222831, #000000);
}