.profile {
    height: 100vh;
    display: flex;
    align-items: center;
}

.profile-card {
    padding: 10px;
    display: flex;
    align-items: center;
    border: solid;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pic-section {
    display: flex;
    justify-content: center;
}

.profile-picture {
    height: 330px;
    width: 330px;
    background-color: #adadad;
    background-image: url('../help-files/personal/pp.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.body-profile {
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.profile-description {
    font-size: 23px;
}

.icons-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
}