/* ---------------HEADER ANIMATION --------------- */
@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (min-width: 992px) {
    .typing-effect {
        width: 20ch;
        font-family: monospace;
        animation: typing 2s steps(20), blink 0.5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 5px solid;
    }
}

/* -----------ICONS ANIMATION------------- */

@media (min-width: 992px) {
    .icon-box-cv {
        width: 50px;
        height: 50px;
        background-color: #334257;    
        color: #548CA8;
        border-radius:  35%;
        text-decoration: none;
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    .icon-box-cv:hover {
        background-color: #476072;
        color: #EEEEEE;
        transition: 1s;
    }

    .icon-box-github {
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    .icon-box-github:hover {
        background-color: #161616;
        transition: 1s;
    }

    .github-icon {
        color: rgba(0, 0, 0, 0.6);
        font-size: 50px;
        transition: 1s;
    }

    .github-icon:hover {
        color: #FDFAF6;
        transition: 1s;
    }

    .icon-box-linkedin {
        width: 50px;
        height: 50px;
        background-color: rgba(253, 250, 246, 0.5);
        text-decoration: none;
        border-radius: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    .icon-box-linkedin:hover {
        background-color: #2867B2;
        transition: 1s;
    }

    .linkedin-icon {
        font-size: 40px;
        color: rgba(40, 102, 178, 0.7);
        transition: 1s;
    }

    .linkedin-icon:hover {
        color: #FDFAF6;
        transition: 1s;
    }
}

/*------------------- EDUCATION -------------------*/
@media (min-width: 992px) {
    .card-education {
        width: 330px;
        height: 330px;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid;
        border-radius: 50%;
        transform: rotate(180deg);
        transition: all 2s;
    }

    .header-card-education {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        transform: rotate(180deg);
    }

    .text-center {
        font-size: 40px;
        margin: 0;
        font-family: 'Righteous', cursive;
    }

    .body-card-education {
        text-align: justify;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .body-icon {
        font-size: 50px;
    }

    .card-education:hover {
        border-radius: 3%;
        box-shadow: 0px 0px 15px 15px #FEFBF3;
        transform: rotate(360deg);
        transition: all 1s;
    }

    .hide {
        display: none;
    }
}